<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.dongyue.gitlabandroid" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.ProjectActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.dongyue.gitlabandroid.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.IssueActivity"
            android:label="@string/title_activity_issue"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.dongyue.gitlabandroid.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_welcome"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activity.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.dongyue.gitlabandroid.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.UserInfoActivity"
            android:label="@string/title_activity_user_info"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.dongyue.gitlabandroid.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.MyActivitesActivity"
            android:label="@string/title_activity_my_activites"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.dongyue.gitlabandroid.activity.HomeActivity" />
        </activity>

        <service
            android:name=".service.PollingService"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="io.dongyue.gitlabandroid.service.action.POLL_ACTIVITIES"/>
            </intent-filter>
        </service>
    </application>

</manifest>
